*{
  font-family: 'roboto';
  margin: 0;
}
body {
  overflow-x: hidden;
}
@keyframes slideInLeft{
  from {
    transform: translateX(1500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.banner-container {
  text-align: center;
  background-image: url(Banner.jpeg);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

.banner-container h2 {
  padding-top: 15%;
  font-size: 5vw;
  color: white;
  animation: slideInLeft 1s ease-out 0.1s;
}
.album-cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  top: 600px;
  gap: 50px;
  width: 100vw;
  background-color: #ddd;
  padding-top: 30px;
  padding-bottom: 60px;
}
.album-image {
  width: 30%;
  max-height: 80%;
  transition: transform 0.5s ease;
}

.album-image img {
  width: 100%;
  height: auto;
}

.album-title {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  color: rgb(255, 255, 255);
  font-size: 3vw;
  padding: 10px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s;
}


.album-image:hover .album-title, .info-symbol{
  opacity: 1;
}
.album-image:hover {
  transform: scale(1.2);
}