*{
  font-family: 'roboto';
  margin: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
}
@keyframes slideInLeft{
  from {
    transform: translateX(1500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.banner-container {
  text-align: center;
  background-image: url(Banner.jpeg);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 600px;
}
h2 {
  padding-top: 15%;
  font-size: 90px;
  text-wrap: nowrap;
  color: white;
  animation: slideInLeft 1s ease-out 0.1s;
}
@media (max-width: 480px) {
  .banner-container {
    width: 100vw;
    height: 300px;
  }
  h2 {
    font-size: 45px;
    padding-top: 18%;
    color: rgb(255, 255, 255);
    text-wrap: wrap;
    animation: slideInLeft 1s ease-out 0.1s;
  }
  body {
    overflow-x: hidden;
  }
}
.album-cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  top: 600px;
  gap: 50px;
  width: 100vw;
  background-color: #ddd;
  padding-top: 30px;
  padding-bottom: 50px;
}
.album-image {
  width: 30%;
  transition: transform 0.5s ease;
}

@media (max-width: 480px){
  .album-image {
    width: 90vw;
  }
}
.album-image img {
  width: 100%;
  height: auto;
}

.album-title {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 190%);
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 10px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s;
}

@media (max-width: 425px) {
  .album-title {
    font-size: 20px;
    white-space: normal;
    transform: translate(-50%, 110%);
  }
}
.album-image:hover .album-title, .info-symbol{
  opacity: 1;
}
.album-image:hover {
  transform: scale(1.2);
}
