* {
  margin: 0; padding: 0;

}

.container {
  position: relative;
  min-height: 100vh;
  background-color: #ddd;
}
.container h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  padding: 30px;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.image {
  width: 450px;
  height: 400px;
  border: 10px solid white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  overflow: hidden;
  cursor: pointer;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: linear 0.2s;
}
.image img:hover {
  transform: scale(1.1);
}

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border: 10px solid white;
  border-radius: 5px;
  max-width: 90vw;
  max-height: 90vh;
}
.popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}
